@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Manrope", ui-sans-serif, system-ui, sans-serif;
  --font-hand: "Amatic SC", cursive;

  --color-bg-light: #F4F3EE;
  --color-bg-dark: #262624;
  --color-accent: #957898;
  --color-support: #D1C4D2;
  --color-hover: #B39EB5;

  --color-background: var(--bg-color);
  --color-foreground: var(--fg-color);
}

@layer base {
  body {
    @apply font-sans transition-colors duration-300;
  }
}

:root {
  --bg-color: #F4F3EE;
  --fg-color: #262624;
}

.dark {
  --bg-color: #262624;
  --fg-color: #F4F3EE;
}

body {
  background-color: var(--bg-color);
  color: var(--fg-color);
}
